<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA</title>

</head>
<body>
<th:block layout:fragment="content">

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">IN+</h1>

        </div>
        <h3>Register to IN+</h3>
        <p>Create account to see it in action.</p>
        <form class="m-t" role="form">
            <div class="form-group">
                <input type="text" class="form-control" name="mbNm" placeholder="Name" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="mbAcc" onkeyup="fnCheckId();" placeholder="ID" required="">
				<small id="idCheck" style="display:none; letter-spacing:1px; font-size:12px; padding-top:5px;"></small>            
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="mbEmail" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" name="mbTel" placeholder="- 없이 입력" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="mbPwd" placeholder="Password" maxlength="20" required="" onkeyup="fnPwdCheck();">
            	<small id="pwCheck" style="display:none; letter-spacing:1px; font-size:12px; padding-top:5px;"></small>
            </div>
            <div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
            </div>
            <button id="register" type="button" class="btn btn-primary block full-width m-b" onclick="fnRegister();" disabled>Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="/">Login</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>

<!-- iCheck -->
<script th:src="@{/js/register.js}"></script>
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
<script th:inline="javascript">
$(document).ready(function(){
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
});
</script>

</th:block>
</body>

</html>
